In [13]:
import numpy as np
import pandas as pd
import os

In [14]:
root = 'data'
train_filename='sample.csv'

train_data = pd.read_csv(os.path.join(root, train_filename))
train_data

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street  Alley
0   1          60       RL         65.0     8450   Pave    NaN
1   2          20       RL         80.0     9600   Pave    NaN
2   3          60       RL         68.0    11250   Pave    NaN
3   4          70       RL         60.0     9550   Pave    NaN
4   5          60       RL         84.0    14260   Pave    NaN
5   6          50       RL         85.0    14115   Pave    NaN
6   7          20       RL         75.0    10084   Pave    NaN
7   8          60       RL          NaN    10382   Pave    NaN
8   9          50       RM         51.0     6120   Pave    NaN
9  10         190       RL         50.0     7420   Pave    NaN

In [26]:
train_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley'],
      dtype='object')

In [16]:
train_data.isnull().sum()

Id              0
MSSubClass      0
MSZoning        0
LotFrontage     1
LotArea         0
Street          0
Alley          10
dtype: int64

In [17]:
train_data.columns[train_data.isnull().sum()>10*0.8]

Index(['Alley'], dtype='object')

In [27]:
train_data.dropna(axis=1, thresh=9)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street
0   1          60       RL         65.0     8450   Pave
1   2          20       RL         80.0     9600   Pave
2   3          60       RL         68.0    11250   Pave
3   4          70       RL         60.0     9550   Pave
4   5          60       RL         84.0    14260   Pave
5   6          50       RL         85.0    14115   Pave
6   7          20       RL         75.0    10084   Pave
7   8          60       RL          NaN    10382   Pave
8   9          50       RM         51.0     6120   Pave
9  10         190       RL         50.0     7420   Pave

In [20]:
train_data.head(5)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street  Alley
0   1          60       RL         65.0     8450   Pave    NaN
1   2          20       RL         80.0     9600   Pave    NaN
2   3          60       RL         68.0    11250   Pave    NaN
3   4          70       RL         60.0     9550   Pave    NaN
4   5          60       RL         84.0    14260   Pave    NaN

In [21]:
all_features = pd.concat((train_data.iloc[:, 1:-1], test_data.iloc[:, 1:]))
all_features.shape

NameError: name 'test_data' is not defined

In [ ]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(
    lambda x: (x - x.mean()) / (x.std()))
all_features = all_features.fillna(all_features.mean())
all_features.isnull().sum()

In [ ]:
all_features = pd.get_dummies(all_features, dummy_na=True)
all_features.isnull().sum().sum()

In [ ]:
all_features.iloc[0:5]

In [ ]:
all_features.shape
# all_features.MSSubClass

In [ ]:
all_features.values.shape

In [ ]:
n_train = train_data.shape[0]
train_features = all_features[:n_train].values
test_features = all_features[n_train:].values
train_labels = (train_data.SalePrice.values).reshape((-1, 1))

In [ ]:
train_features.shape, test_features.shape, train_labels.shape

In [ ]:
float('inf')